@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HussarBold';
  src: url('/HussarBoldWeb-bf92.woff2') format('woff2'),
       url('/HussarBoldWeb-bf92.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
